<div class="form-container">
  <h2>{{ isEdit ? 'Edit Medicine' : 'Add Medicine' }}</h2>

  <form [formGroup]="medicineForm" (ngSubmit)="onSubmit()">
    
    <!-- Name -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Medicine Name</mat-label>
      <input matInput formControlName="name" placeholder="Enter medicine name">
      <mat-error *ngIf="medicineForm.get('name')?.hasError('required')">
        Name is required
      </mat-error>
      <mat-error *ngIf="medicineForm.get('name')?.hasError('minlength')">
        Minimum 3 characters required
      </mat-error>
    </mat-form-field>

    <!-- Category -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Category</mat-label>
      <mat-select formControlName="category">
        <mat-option *ngFor="let c of categories" [value]="c">{{ c }}</mat-option>
      </mat-select>
      <mat-error *ngIf="medicineForm.get('category')?.hasError('required')">
        Category is required
      </mat-error>
    </mat-form-field>

    <!-- Stock -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Stock</mat-label>
      <input matInput type="number" formControlName="stock" placeholder="Enter stock quantity">
      <mat-error *ngIf="medicineForm.get('stock')?.hasError('required')">
        Stock is required
      </mat-error>
      <mat-error *ngIf="medicineForm.get('stock')?.hasError('min')">
        Stock must be at least 1
      </mat-error>
    </mat-form-field>

    <!-- Price -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Price</mat-label>
      <input matInput type="number" formControlName="price" placeholder="Enter price">
      <mat-error *ngIf="medicineForm.get('price')?.hasError('required')">
        Price is required
      </mat-error>
      <mat-error *ngIf="medicineForm.get('price')?.hasError('min')">
        Price must be greater than 0
      </mat-error>
    </mat-form-field>

    <!-- Expiry Date -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Expiry Date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="expiryDate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="medicineForm.get('expiryDate')?.hasError('required')">
        Expiry Date is required
      </mat-error>
    </mat-form-field>

    <!-- Buttons -->
    <div class="actions">
      <button mat-raised-button color="primary" type="submit" [disabled]="medicineForm.invalid">
        {{ isEdit ? 'Update' : 'Save' }}
      </button>
      <button mat-raised-button color="warn" type="button" (click)="onReset()">Reset</button>
    </div>
  </form>
</div>
