<form [formGroup]="form" (ngSubmit)="save()" class="form">
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput formControlName="name" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Phone</mat-label>
    <input matInput formControlName="phone" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Address</mat-label>
    <textarea matInput formControlName="address"></textarea>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">
    {{ id ? 'Update' : 'Create' }}
  </button>
</form>
